/* Reset básico */
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #00ff88;
  font-family: monospace;
}

/* Estilo del header */
header {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ff88;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #00ff88;
  font-weight: bold;
}

.hero {
  padding: 2rem;
  text-align: center;
}

.features {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.features div {
  border: 2px solid #00ff88;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px #00ff88;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #00ff88;
}

/* Botones flotantes */
.whatsapp-float,
.instagram-button {
  position: fixed;
  right: 20px;
  z-index: 1000;
}

.whatsapp-float {
  bottom: 100px;
}

.instagram-button {
  bottom: 30px;
}

.whatsapp-float img,
.instagram-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.whatsapp-float img:hover,
.instagram-button img:hover {
  transform: scale(1.1);
}
.instagram-button:hover img {
  transform: scale(1.1);
}


